node_modules
bower_components
dist
tooling/node_modules
*.idea
**/.DS_Store
public
firebase-debug.log
.idea/**
build
layouts/swagger-ui/
layouts/partials/header.html
layouts/onebox/single.html
layouts/signup/single.html
layouts/signin/single.html
rev-manifest.json
.vscode/
data/products.json
.firebase/
