<section class="need-help">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="ac-feedback">
                    <h3>We value your feedback</h3>
                    <p>Please report bugs, provide feedback and request missing features.</p>
                    <a class="" href="https://discourse.appscode.com" target="_blank">Give Us Feedback</a>
                </div>
            </div>
        </div>
    </div>
</section>
