<sections id="product-section-menu">
    <nav class="navbar navbar-expand-lg navbar-light product-docs-navbar">
        <div class="container">
        <button class="navbar-toggler ac-product-navbar-toggler" type="button" data-toggle="collapse" data-target="#glibal-section-menu" aria-controls="glibal-section-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ac-product-docs" id="glibal-section-menu">
            <ul class="navbar-nav mr-auto">
                {{ $currentNode := . }}
                {{ $menu := .Section }}
                {{ range (index .Site.Menus .Section) }}
                    <li class="nav-item"><a {{if $currentNode.IsMenuCurrent $menu . }} class="active" {{ end }} href="{{ .URL }} ">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <a href="/contact/sales/?product=PrivateInstallation"><button class="btn btn-outline-success">REQUEST A DEMO</button></a>
        </div>
      </div>
      </nav>
  </sections>
  