<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="social-medium twitch-status">
                <a href="{{.Site.Params.github_url}}" target="_blank">
                    <i class="fa fa-github"></i>
                    <h4>AppsCode</h4>
                    <P>For Open Source ToolKit </P>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="social-medium twitch-appscode">
                <a href="{{.Site.Params.twitter_url}}" target="_blank">
                    <i class="fa fa-twitter-square"></i>
                    <h4>@AppsCodeHQ</h4>
                    <P>For Latest news and Updates.</P>
                </a>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="social-medium facebook-icon">
                <a href="{{.Site.Params.facebook_url}}" target="_blank">
                    <i class="fa fa-facebook"></i>
                    <h4>AppsCode</h4>
                    <P>Like, Comment and Share!</P>
                </a>
            </div>
        </div>
    </div>
</div>