<div class="row">
    <div class="col-md-6">
        <div class="globalFooterCard">
            <a class="commonLink ac-docs" href="/opensource/">
                <img src="/images/ac-toolkit.svg">
                <h4>Explore Our Open Source toolkit</h4>
                <p>Testing & Deploying Containerized Apps.</p>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="globalFooterCard">
            <a class="commonLink ac-pricing" href="/contact/sales">
                <img src="/images/ac-services.png">
                <h4>Explore Our Servers</h4>
                <p>Run AppsCode On Your Servers</p>
            </a>
        </div>
    </div>
</div>