<section id="schedule-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="schedule-demo text-center">
                    <h3>Take your team where it needs to go.</h3>
                    <p>Create your cluster in minutes. Our team is here to help and would be happy to chat with you.</p>
                    <div class="ac-btn-demo">
                        <a href="/contact/sales/" class="ac-free-started">SCHEDULE A DEMO</a>
                        <a href="https://discourse.appscode.com/" class="ac-demo">JOIN US ON OUR &nbsp<img src="/images/slack.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>