$business-plan-bg-color: #673AB7;
$business-plan-button-color: #673AB7;
$business-plan-button-border-color: #673AB7;

$enterprise-plan-bg-color: #3F51B5;
$enterprise-plan-button-color: #1e7fc3;
$enterprise-plan-button-border-color: #277FBC;

$professional-plan-bg-color: #2382ec;
$professional-plan-button-color: #0f64c3;
$professional-plan-button-border-color: #0f64c3;

$startup-plan-bg-color: #4cb992;
$startup-plan-button-color: #3b9776;
$startup-plan-button-border-color: #3C9374;

$addon-pricing-color: #f9f9f9;
$available-add-ons-color: #333;
$professional-service-header-color: #606060;
$build-agent-table-color: #DCEDC8;
$build-agent-table-bg-color: #24282A;
$build-agent-table-th-color: #ECF4E5;
$support-pricing-color: #3F51B5;
$result-header-color: #434F5E;
$result-month-color: #E3F2FD;
$result-month-border-color: #B3E5FC;
$need-help-bg-color: #2d384a;
$need-help-link-color: #46546A;
$need-help-link-hover-color: #5C6D87;
$docs-content-link-color: #36c37b;
$docs-content-h3-header: #3D3D3D;
$faq-question-cata-color: #e8eaeb;
$article-span-color: #999da7;
$article-btn-success: #3c763d;
$article-btn-bg-success: #dff0d8;
$article-btn-border-success: #d6e9c6;
$article-btn-info: #31708f;
$article-btn-bg-info: #dff0d8;
$article-btn-border-info: #bce8f1;
$article-btn-warning: #8a6d3b;
$article-btn-bg-warning: #fcf8e3;
$article-btn-border-warning: #faebcc;
$article-btn-danger: #a94442;
$article-btn-bg-danger: #f2dede;
$article-btn-border-danger: #ebccd1;
$article-per-bg-color: #282e3e;
$article-code-color: #fdedf3;
$article-per-color: #d6d8dc;
$article-header-color: #565656;
$article-all-header-color: #5b6171;
$docs-home-color: #566064;
$page-content-hover-bg-color: #fcfcfc;
$page-content-hover-color: #C8E6C9;
$page-content-actions-border-color: #e0e1e4;
$page-content-actions-color: #565656;
$default-sidbar-li-hover-color: #282828;
$sub-menu-list-color: #606f82;
$sub-menu-list-hover-color: #323F4F;
$subscribers-border-color: #cce6f6;
$features-sub-grey-color: #F6F6F6;
$color-tundora: #454545;
$color-picton-blue: #40acf3;
$color-endeavour: #93cc76;
$color-bon-jour: #e1e1e1;
$color-governor-bay: #27313E;
$color-boulder: #797979;
$color_ocean_green: #3bb878;
$color-sushi: #8bc34a;
$color-blue-dianne: #24495a;
$color-gull-gray: #99b1be;
$color-coral: #ff7f57;
$color-cararra: #ebebeb;
$color-tapa: #737373;
$color-gunsmoke: #848484;
$color-smalt-blue: #607d8b;
$color-quill-gray: #d2d2d2;
$footer-bd: #0e1023;
$color-mercury: #e4e4e4;
$color-gray: #828282;
$color-pink-swan: #b8b8b8;
$color-athens-gray: #eeeff2;
$color-star-dust: #9e9e9e;
$color-alto: #83a5b5;
$color-apple: #4caf50;
$color-snow-drift: #f7f9f9;
$color-alabaster: #fbfbfb;
$color-gray-nurse: #e8e8e8;
$mercury: #e5e5e5;
$color-black-haze: #f7f7f7;
$color-desert-storm: #f8f8f8;
$concrete: #f2f2f2;
$color-blumine: #23527c;
$alabaster: #fafafa;
$color-shady-lady: #a6a6a6;
$color-delta: #a3a3a3;
$color-olivine: #93cc76;
$color-keppel: #2ab8aa;
$color-oslo-gray: #7c8a95;
$color-romance: #fdfdfd;
$color-black-squeeze: #f4f8f9;
$color-gold: #f7d500;
$color-rangoon-green: #1e1e1e;
$color-french-gray: #bebfc9;
$gray: #808080;
$color-cape-cod: #404040;
$color-dove-gray: #727272;
$color-bahama-blue: #0062a1;
$color-feijoa: #aed581;
$color_ocean_green-hover: #47CB87;
$color-hint-of-red: #faf9f9;
$color-silver: #bebebe;
$color-maroon-flush: #c7254e;
$color-fantasy: #f9f2f4;
$color-california: #ff9800;
$color-flamingo: #ff5722;
$color-pale-sky: #707583;
$color-razzmatazz: #e91e63;
$color-cascade: #90a4ae;
$color-red-orange: #f00;
$menu-color: #9BA1AA;
$color-celeste: #ccc;
$black: #000;
$color-mountain-mist: #999;
$color-storm-dust: #666;
$color-gallery: #eee;
$white: #fff;
$red: #f00;
$color_wild_sand: #f5f5f5;
$color-fuscous-gray: #555;
$color-silver-chalice: #aaa;
$border-color: #dddddd;
$download-color: #5d6572;
$additional-pricing: #474747;
$faq-questions-color: #A5D6A7;
$os-color: #ececec;
$conttact-sales-color: #fefefe;
$help-contact-color: #1F8551;
$help-support-list-color: #eaeaea;
$feedback-faq-color: #0991D1;
$subscribers-color: #eff7fc;

$tech-support-bg-color: rgba(103, 58, 183, 0.2);
$training-bg-color: rgba(52, 153, 224, 0.2);
$consulting-bg-color: rgba(76, 185, 146, 0.2);

$white-60: rgba(255, 255, 255, .6);
$white-80: rgba(255, 255, 255, .8);
$black-10: rgba($black, .1);
$black-05: rgba($black, .05);
$black-7-5: rgba($black, .075);
$black-20: rgba($black, .2);
$color-sushi-6: rgba(139, 195, 74, .05);
$color-governor-bay-50: rgba(50, 65, 165, .5);

$font-0: 'roboto';
$font-1: 'sans-serif';

$url-0: url('../images/orchestra.jpg');
$faq-img: url('../images/faq/faq1.png');
