<div class="container-min">
    <div class="logo-signin text-center">
        <a class="" href="/"><img src="/images/logo-color.svg"></a>
    </div>
    <div class="signup-area">
        <div class="row">
            <div class="col-sm-12">
                <h3>Invite your team</h3>
                <p>Collaborate with your teammates on AppsCode.</p>
                <form class="email">
                    <div class="titlename">
                        <div class="email-invitation">Email Addresses</div>
                        <a class="btn btn-link invitation" id="add-invitation" role="button">+ Invite more</a>
                    </div>
                    <div id="email-group" class="invite-emailbox">
                        <div class="form-group">
                            <input type="email" class="form-control email-box invite-email-box" name="email" autocomplete="off" placeholder="name@team.com">
                            <a href="" class="remove-email"><i class="fa fa-remove"></i></a>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control email-box invite-email-box" name="email" autocomplete="off" placeholder="name@team.com">
                            <a href="" class="remove-email"><i class="fa fa-remove"></i></a>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control email-box invite-email-box" name="email" autocomplete="off" placeholder="name@team.com">
                            <a href="" class="remove-email"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                    <div class="brace-btn">
                        <button class=" skip" id="btn-skip">Skip Invites</button>
                        <button class="continue submit" id="btn-proceed">Proceed</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="signin-legal">
        By clicking "Proceed" I agree to AppsCode's <a href="/legal/tos/" target="_blank">Terms of Service</a>
    </div>
</div>
