<div class="container-min">
    <div class="logo-signin text-center">
        <a class="" href="/"><img src="/images/logo-color.svg"></a>
    </div>
    <div class="signup-area">
        <div class="row">
            <div class="col-sm-12">
                <h3>Sign in | AppsCode</h3>
                <p>Please enter your team id to start.</p>
                <form class="email" data-toggle="validator" role="form" id="form-signin">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control email-box domain-name" id="subdomain-signin" name="subdomain" placeholder="team-id" required>
                            <div class="input-group-addon domin">.appscode.io</div>
                        </div>
                        <button type="submit" class="continue" id="btn-p2">Continue</button>
                    </div>
                </form>
                <span>New to AppsCode?<a href="/signup/">Sign up for free.</a></span>
            </div>
        </div>
    </div>
    <div class="signin-legal">
        By clicking "Continue" I agree to AppsCode's <a href="/legal/tos/" target="_blank">Terms of Service</a>
    </div>
</div>
