
<div class="container">
    <div class="row-md-12">
        <div class="wc-signup text-center">
            <div class="wc-header">
                <h1>Hi <span>{{username}}</span>,</h1>
                <h3>Thanks for signing up!</h3>
                <p>You will receive an email with sign in instructions shortly.</p>
            </div>
            <div class="wc-explore-more">
                <a href="/docs/" target="_blank">Explore Docs</a>
            </div>
            <div class="we-soseal-icon">
                <ul>
                    <li class="animated bounceInRight">
                        <a href="https://twitter.com/AppsCodeHQ"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="animated bounceInLeft">
                        <a href="https://www.facgebook.com/appscode"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="animated bounceInLeft">
                        <a href="https://github.com/appscode"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="animated bounceInRight">
                        <a href=" https://hub.docker.com/u/appscode"><i class="icon-docker"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
