.api_cli {
  display: block;
  margin: 100px 0;
  .ac-content {
    a {
      padding: 6px 10px;
      background-color: #3bb878;
      color: #fff;
      transition: all .2s ease-in-out;
      text-decoration: none;
      font-weight: 400;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      display: inline-block;
      border-radius: 3px;
      font-size: 14px;
      outline: 0;
      &::hover {
        background-color: #36c37b;
        color: #fff;
        transition: all .2s ease-in-out;
        text-decoration: none;
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      }
    }
    p {
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      width: 80%
    }
  }
  .ac-icon {
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    width: 400px;
    margin: 0 auto;
  }
}


#oss-github {
  display: block;
  padding-bottom: 100px;
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
  .oss-title {
    display: block;
    padding: 100px 0 0 0;
  }
  .oss-tools {
    background: white;
    border-radius: 3px;
    border: 1px solid #e5ecf3;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    min-height: 180px;
    padding: 20px;
    color: #333;
    position: relative;
    margin-bottom: 30px;
    flex-direction: column;
    .oss-header {
      margin-bottom: 10px;
      a {
        font-size: 20px;
        color: rgb(50, 50, 93);
        font-weight: bold;
        text-transform: capitalize;
        margin: 0;
      }
      .brand-icon {
        width: 30px;
        height: 30px;
        padding: 2px;
        background-size: 20px;
        float: right;
        background: #e8eef2;
        border-radius: 3px;
        border: 1px solid #ddd;
      }
    }
    .oss-content {
      p {
        font-size: 16px;
        color: rgb(50, 50, 93);
        line-height:1.563;
      }
    }
  }
}
#oss-github:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2050px;
  transform: skew(0,-3deg);
  background: url(../../images/docs/our_data_bg.svg) no-repeat scroll center center/cover border-box;
}
